.app_size {
	width:900px;
	height:600px;
}
#arena_UI {
	position:absolute;
	left:0px;
	top:0px;
}
#population_panel {
	position:absolute;
	width:200px;
	height:500px;
	bottom:0px;
	right:0px;
}
#arena_panel {
	position:relative;
	float:left;
	width:30%;
	height:100%;
}
#testing_panel {
	position:relative;
	float:left;
	width:60%;
	height:100%;
}
#arena_bar {
	position:absolute;
	bottom:0px;
	width:700px;
	height:100px;
}
.main_canvas {
	position:absolute;
	width:700px;
	height:500px;
}
#edit_menus {
	position:absolute;
	top:40px;
	right:0px;
	width:200px;
	height:600px;
}
.edit_menu {
	perspective:600px;
	transition:all .2s;
	overflow:hidden;
	width:95%;
	height:600px;
}
.edit_menu.away {
	overflow:hidden;
	-webkit-transform:translate(0px, 0px) rotateY(90deg) scale3d(1, 1, 1);
	height:600px;
}
#edit_item {
    position:relative;
    left:2px;
    width:95%;
    height:50%;
}
#switch_modes {
	position:absolute;
	right:0px;
}
.main_canvas {
    pointer-events: all;
}
#edit {
    pointer-events: none;
	transition:all .2s;
	-webkit-transform:translate(0px, 0px) rotateX(.01deg) scale3d(1, 1, 1);
}
#arena {
	transition:all .2s;
	-webkit-transform:translate(0px, 0px) rotateX(0deg) scale3d(1, 1, 1);
}
#arena.away {
	-webkit-transform:translate(-600px, 0px) rotateY(70deg);
}
#edit.away {
	-webkit-transform:translate(600px, 0px) rotateY(70deg);
}


.subpanel {
	margin:5px;
	background:rgba(100, 110, 110, .2);
}
.bot_card {
	position:absolute;
	top:0px;
	left:0px;
	border:9px solid white;
	background:rgba(200, 250, 0, .8);
	width:150px;
	height:220px;
	box-shadow:2px 2px 15px 0px rgba(0, 0, 0, .4);
	border-radius:15px;
	transition:all .2s;
}
.bot_thumbnail {
	position:relative;
	width:90%;
	height:30%;
	margin:0 auto;
	border:1px solid white;
	box-shadow:inset 2px 2px 15px 0px rgba(0, 0, 0, .4);
}
.population_info {
	float:left;
	position:relative;
	border:1px solid white;
	background:rgba(200, 250, 0, .8);
	margin:2px;
	padding:4px;
	box-shadow:2px 2px 15px 0px rgba(0, 0, 0, .4);
}
.population_title {
	position:relative;
	border:1px solid white;
	width:140px;
	float:left;
}
.population_button {
	float:left;
	width:12px;
	height:15px;
	line-height:1;
	padding:3px 1px;
	text-align:center;
}
.population_details {
	position:relative;
	border:1px solid white;
	width:130px;
	float:left;
}
.population_spawnbuttons {
	position:relative;
	border:1px solid white;
	width:30px;
	float:right;
}
#test_heuristic {
	float:left;
}
