#botprint_header {
	background-color: #93d8c7;
	height: 50px;
}

#botprint_logo {
	background-image: url('img/styledUI/botprintlogo.png');
	height: 128px;
	width: 128px;
	position: relative; 
	left: 20px; 
}

#botprint_footer {
	background-color: #93d8c7;
	height: 45px;
	position: absolute; 
	bottom: 0px;
	width: 1366px; 
}

