body {
	background-image: url('img/retina_wood.png');
	/*background-image: url('img/carved2.jpeg');*/
	background-repeat: repeat;
}
html, body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	height: 100%;
	overflow: hidden;
}
.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
	cursor: hand;
}
#app {
	position: relative;
	background-color: rgba(250, 250, 240, 1);
	box-shadow: 0 0 50px rgba(90, 60, 0, .6);
	margin: 0 auto;
}
.appsize {
	width: 800px;
	height: 500px;
}
.overlay {
	position: absolute;
	top: 0px;
	bottom: 0px;
	pointer-events: none;
}
.panel {
	background-color: rgba(250, 250, 240, 1);
	box-shadow: 0 0 5px rgba(90, 60, 0, .6);
	border-radius: 5px;
	padding: 10px 2px;
	overflow: all;
}

#touch_attached {
	position: absolute;
	width: 120px;
	height: 120px;
	left: 0px;
	right: 0px;
	pointer-events: none;
}
.top_menus {
	position: absolute;
	top: 0px;
	right: 0px;
}
.dev_panel {
	width: 120px;
	float: left;
	position: relative;
	top: -5px;
	font-size: x-small;
	margin: 2px;
}
.dev_panel.open {
	top: -150px;
}
#dev_sliders {
}
#dev_options {
}
#dev_output {
	width: 210px;
}

#population_palette {
	position: absolute;
	left: -10px;
	top: 20px;
	padding: 5px;
}

#catalog {
	
	position: absolute;
	left: -10px;
	top: 20px;
	width: 190px;
	height: 80%;
	padding: 5px;
}

.catalog_section {
	position: absolute;
	width: 100%;
	height: 90%;
	transition: all .3s;
	-webkit-transform: rotateY( 90deg ) translate3d(0px, 0px, 0px);
}

.catalog_section.open {
	-webkit-transform: rotateY( 0deg ) translate3d(0px, 0px, 0px);
}

.palette_swatch {
	background-color: white;
	box-shadow: inset 0 0 5px rgba(90, 60, 0, .6);
	border-radius: 5px;
	padding: 10px 2px;
}
.palette_swatch.activated {
	background-color: rgba(250, 220, 240, 1);
}

#arena_panel {
	position: absolute;
	-webkit-transform: translate3d(-500px, 0px, 0px) rotateY( 90deg );
	-webkit-transform-style: preserve-3d;
	transition: all .3s;
}

#arena_panel.open {
	-webkit-transform: rotateY( 0deg ) translate3d(0px, 0px, 0px);
}

#edit_panel {
	background-color: rgba(0, 220, 240, 1);
	position: absolute;
	-webkit-transform: translate3d(500px, 0px, 0px) rotateY( 90deg );
	-webkit-transform-style: preserve-3d;
	transition: all .3s;
}

#edit_panel.open {

	-webkit-transform: rotateY( 0deg ) translate3d(0px, 0px, 0px);
}

#ui_overlay {
	z-index: 50;
}

.main_canvas {
	position: absolute;
	z-index: 10;
}

.ui {
	z-index: 50;
}
#panel_holder {
	z-index: 10;
	-webkit-perspective: 0px;
}

#arena_column {
	float: left;
	width: 19%;
}

#arena_data {
	position: absolute;
	bottom: 0px;
	height: 60px;
	width: 100%;
}

#arena_info {
	float: left;
	font-size: x-small;
	overflow: scroll;
}

#scoreboard {
	float: left;
	width: 76%;
	font-size: x-small;
}
