.subpanel {
	margin: 5px;
	background: rgba(100, 110, 110, .2);
}
.bot_card {
	position: absolute;
	top: 0px;
	left: 0px;
	border: 9px solid white;
	background: rgba(200, 250, 0, .8);
	width: 150px;
	height: 220px;
	box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, .4);
	border-radius: 15px;
	transition: all .2s;
	pointer-events: all;
}

.bot_thumbnail {
	position: relative;
	width: 90%;
	height: 40%;
	margin: 0 auto;
	border: 1px solid white;
	box-shadow: inset 2px 2px 15px 0px rgba(0, 0, 0, .4);
}
.population_info {
	overflow: hide;
	position: relative;
	border: 1px solid white;
	background: rgba(200, 250, 0, .8);
	margin: 2px;
	padding: 4px;
	box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, .4);
}
.population_title {
	font-size: small;
	position: relative;
	border: 1px solid white;
	width: 140px;
}
.population_button {
	float: left;
	width: 12px;
	height: 15px;
	line-height: 1;
	padding: 3px 1px;
	text-align: center;
}
.population_details {
	font-size: x-small;
	position: relative;
	border: 1px solid white;
	width: 130px;
}

.population_spawnbuttons {
	position: absolute;
	right: 0px;
	top: 0px;
	border: 1px solid white;
	width: 30px;
}
